<!DOCTYPE html>
<html lang="zh-cn">
  
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title></title>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/pintuer.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/admin.css">
    <script src="__PUBLIC__/Admin/js/jquery.js"></script>
    <script src="__PUBLIC__/Admin/js/pintuer.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/date_js/jedate.js"></script>
  </head>
  
  <body>
	
	<div class="field">
		<form method="post" class="form-x" action="__APP__/Admin/Timetask/company_dividends"> 
			业绩分红：<input type="text" placeholder="请输入分红金额" name="dividends_award"  class="input" style="width:250px; line-height:17px;display:inline-block" />&nbsp;元
			  <button class="button bg-main icon-check-square-o" type="submit">执行分红定时任务</button>
		</form>
	</div>
  </div>
  <br/>
	<div class="panel admin-panel">
		
      <div class="panel-head">
        <strong class="iconfont icon-liebiao">列表</strong></div>
     
      <form method="post" action="__CONTROLLER__/bdel">
        <table class="table table-hover text-center">
          <tr>
            <th width="120">ID</th>
            <th>会员唯一登录ID</th>
            <th>类型</th>
            <th>金额</th>
            <th>说明</th>
			<th>时间</th>
           </tr>
          <volist name="list" id="v">
            <tr style=" height: 35px;">
              <td>{$v.id}</td>
              <td>{$v.email}</td>
              <td>{$v.type}</td>
              <td>{$v.money}</td>
             <td>{$v.info}</td>
			  <td>{$v.time}</td>
             
            </tr>
			
          </volist>
          <tr>
            <td colspan="8">
              <div class="pagelist">{$page}</td></tr>
        </table>
        </div>
      
      </form>
	  </div>
      <script type="text/javascript">function del(id) {
          if (confirm("您确定要删除吗?")) {

} else {
            return false;
          }
        }

        $("#checkall").click(function() {
          $("input[name='id[]']").each(function() {
            if (this.checked) {
              this.checked = false;
            } else {
              this.checked = true;
            }
          });
        })

        function DelSelect() {
          var Checkbox = false;
          $("input[name='id[]']").each(function() {
            if (this.checked == true) {
              Checkbox = true;
            }
          });
          if (Checkbox) {
            var t = confirm("您确认要删除选中的内容吗？");
            if (t == false) return false;
          } else {
            alert("请选择您要删除的内容!");
            return false;
          }
        }</script>
  </body>

</html>