<!DOCTYPE html>

<html lang="zh-cn">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<meta name="renderer" content="webkit">

<title></title>

<link rel="stylesheet" href="__PUBLIC__/Admin/css/pintuer.css">

<link rel="stylesheet" href="__PUBLIC__/Admin/css/admin.css">

<script src="__PUBLIC__/Admin/js/jquery.js"></script>

<script src="__PUBLIC__/Admin/js/pintuer.js"></script>

</head>

<body>

<div class="panel admin-panel">

  <div class="panel-head" id="add"><strong><span class="iconfont icon-icon-xiugai"></span>修改</strong></div>

  <div class="body-content">

    <form method="post" class="form-x" action="__SELF__">  



	<input type="hidden" name="id" value="{$data.id}">

	
	<div class="form-group">

		<div class="label">

			<label>支付方式：</label>

		</div>

		<div class="field">

			<input type="text" class="input w50" value="{$data.zname}" name="zname" />

			<div class="tips"></div>

		</div>

	</div>

	<div class="form-group">

			<div class="label">
	
				<label>支付账户：</label>
	
			</div>
	
			<div class="field">
	
				<input type="text" class="input w50" value="{$data.zh}" name="zh" data-validate="required:请输入支付账户"/>
	
				<div class="tips"></div>
	
			</div>
	
		</div>

		<div class="form-group">

		<div class="label">

			<label>AppID：</label>

		</div>

		<div class="field">

			<input type="text" class="input w50" value="{$data.aid}" name="aid"  />

			<div class="tips"></div>

		</div>

	</div>

 		<div class="form-group">

		<div class="label">

			<label>商户私钥：</label>

		</div>

		<div class="field">
				<!-- disabled -->

 
			<input type="text" class="input w50" value="{$data.skey}" name="skey" data-validate="required:" />

			<div class="tips"></div>

		</div>

	</div>

 	  <div class="form-group">

		<div class="label">

			<label>支付公钥：</label>

		</div>

		<div class="field">
				 
		 <input type="text" class="input w50" value="{$data.zkey}" name="zkey" data-validate="required:请输入商户公钥"   />  
			<div class="tips"></div>

		</div>

	</div>
 
 	 
<!-- 
 		<div class="form-group">

		<div class="label">

			<label>状态：</label>

		</div>

		 <div class="field">

			  <input type="radio" name="state" maxlength="60" value="0" <?php if($data['state']==0):?>checked="checked"<?php endif;?>>支付成功

			  <input type="radio" name="state" maxlength="60" value="1"<?php if($data['state']==1):?>checked="checked"<?php endif;?>>已发货完成

              <div class="tips"></div>

            </div>

	</div> -->

 	      <div class="form-group">

        <div class="label">

          <label></label>

        </div>

        <div class="field">

          <button class="button bg-main iconfont icon-icon--" type="submit">确认修改</button>

        </div>

      </div>

    </form>

  </div>

</div>

</body>

</html>