*{
    margin: 0;
    padding: 0;
}
a,ul,li{
    text-decoration: none;
    list-style: none;
    color:#000;
}
body{
   font-family: "宋体";
   background:#e5e5e5;
}

.centre{
    width:100%;
    height:3rem;
    background:#DE4410;
    font-size:1.3rem;
    line-height: 3rem;
    color:#FCDCCD;
    font-family: "宋体";
    position: relative;
    text-align: center;
    position: fixed;
    top:0;left:0;
    z-index: 999;
}
.centre a  i{
    float: left;
    color:#FCDCCD;
    font-size:1rem;
    margin-left: 0.2rem;  
}
.centre p{
    margin-right: 3rem;
}
.text{
    width:95%;
    height:10rem;
    margin: 3.3rem auto 0.3rem;
    background:#fff;
    border-radius: 0.3rem;
}
.text .getta{
    width:95%;
    height:2rem;
    color:#BF662D;
    margin: auto;
    line-height: 2rem;
    background:#fff;
    border-bottom: 1px solid #F2F2F2;
}
.text .get-text{
    width:95%;
    height:2rem;
    margin: auto;
    color:#606060;
    font-size:0.23rem;
    background:#fff;
    border-bottom: 1px solid #F2F2F2;
}
.writer {
    width:95%;
    height:6rem;
    margin: auto;
    background:#fff;
}
.writer .writer-text{
    width:70%;
    float: left;
   
    margin-top: 0.5rem;
}
.writer .writer-text p{
    font-size:0.9rem;
}
.writer button{
    width:4.3rem;
    height:1.8rem;
    outline: none;
    float: right;
    color: #D56743;
    background:#fff;
    border:1px solid #D56743;
    border-radius: 0.5rem;
    margin:2rem 0.8rem 0 0;
}
.picture{
    width:100%;
    height:26rem;
    margin-top: 1rem;
    background:#fff;
}
.picture p{
    display: inline-block;
    width:85%;
    height:2rem;
    line-height: 2rem;
    margin-left: 2rem;
  
}
.picture .img{
    width:90%;
    margin: auto;
    height:23rem;
    background:yellow;
}
.picture .img img{
    width:100%;
    height:23rem;
}