<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/Public/Login/css/college.css">
    <link rel="stylesheet" href="/Public/Login/css/font/iconfont.css">
</head>
<body>
    <div class="head">
        <a href="{:U('Index/index')}"> 
            <i class="iconfont icon-xiaoyu">返回</i>
        </a>
        <p>微商学院</p>
    </div>
    <div class="text">
        <p>每个人都想结识比自己牛逼，而且愿意搭理自己的人，所以写作的基本原则在这里。</p>
        <p>100字的短文案，主要说清楚两个问题，人+产品，100字的限定，尽量不要失衡。</p>
        <p>正常情况用40字介绍清楚自己，用60字介绍产品，介绍自己的时候说重点，大家想一下，
           如果只让你说一句话介绍自己，你会怎么说。
        </p>
        <p>这就是重点，最常规的自我介绍，姓名，地区(可不写)工作，职位，标签</p>
    </div>
    <div class="img" style="margin:3rem auto 0;">
        <img src="/Public/Login/img/weishang.png" alt="">
    </div>
    <div class="ftr-text">
        <p class="marg">比如：猫哥(微信号:237926)，来自广州,我擅长的是引流,加入大神团队想跟大家学习转化和微商带团队</p>
        <p>40字左右的自我介绍，把那几个信息交代清楚大概用20多字左右，剩余字数用来链接人和产品</p>
        <p>不如：做什么产品多长时间，或者接触微商多长时间，尽量出现具体数字</p>
        <p>切忌介绍完自己就直接说我做什么xxx产品，需要中间自然而然把自己和产品导出来。</p>
    </div>
</body>
</html>