<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>发圈模板</title>
    <link rel="stylesheet" href="/Public/Login/css/submit.css">
    <link rel="stylesheet" href="/Public/Login/css/font/iconfont.css">

    <!--其他插件-->
    <link rel="shortcut icon" href="/Public/Login/img/bitbug_favicon.ico" /> 
    <script src="__PUBLIC__/Admin/js/jquery.js"></script>
    <!--layer弹窗插件-->
    <link rel="stylesheet" href="/Public/Login/layui/css/layui.css"/> 
    <script src="/Public/Login/layui/layui.js"></script>
</head>
<body>
    <div class="head">
        <a href="javascript:history.back(-1)"> 
            <i class="iconfont icon-xiaoyu">返回</i>
        </a>
        <p>提交中心</p>
    </div>

    <div class="text">
        <p>提交任务发圈模板</p>
    </div>
    <div class="name">
        <img src="/Public/Login/img/name.png" alt="">
       <span>北风</span>
       <p>四川攀枝花特大芒果，二分香八分甜</p>
       <p>十分好吃！</p>
    </div>
    <div class="img">
        <div class="img-list">
            <img src="/Public/Login/img/img-1.png" alt="">
            <p>两小时前</p>
        </div>
        <div class="img1">
         
            <img src="/Public/Login/img/img-2.png" alt="">
            <p>到手价：¥35</p>
        </div>
        <div class="img2">
             
            <img src="/Public/Login/img/img-3.png" alt="">
            <p></p>
        </div>
    </div>
</body>
</html>

 