*{
    margin: 0;
    padding: 0;
    
}
a,ul,li{
    text-decoration: none;
    list-style: none;
    color:#000;
}
body{
   font-family: "宋体";
   background:#EEEEEE;
}

.centre{
    width:100%;
    height:3rem;
    background:#DE4410;
    font-size:1.3rem;
    line-height: 3rem;
    color:#fff;
    font-family: "宋体";
    position: relative;
    text-align: center;
}
.centre a  i{
    float: left;
    color:#fff;
    font-size:1rem;
    margin-left: 0.2rem;  
}
.centre p{
    margin-right: 3rem;
}
.img{
    width:100%;
    height:8rem;
    background:red;
}
.img img{
    width:100%;
    height:8rem;
}
.text{
    width:90%;
    height:9rem;
    margin:2rem auto;
    
}
.text p{
    color:#818181;
    font-size:0.84rem;
}
.text p a{
    color:#DF4509;
    font-size:0.84rem;
}
.text .task{
    width:85%;
    height:1.6rem;
    line-height: 1.6rem;
    color:#878787;
    font-size:0.5rem;
    border:1px solid #D4D4D4;
    border-radius: 0.5rem;
    background:#E0E0E0;
    margin: 0.5rem 0 0.5rem 0;
}
.text .task>button{
    float: right;
    width:1.2rem;
    height:1.6rem;
    border:none;
    border-radius: 0.3rem;
    background:#BFBFBF;
}
.text>button{
    width:5rem;
    height:1.8rem;
    border:none;
    color:#FFCABB;
    outline: none;
    border-radius: 0.5rem;
    background:#DF4509;
    margin-top: 1.5rem;
}
.text-list{
    width:90%;
    height:10rem;
    margin: auto;
    
    color:#828282;
}
.text-list span{
    font-size:1rem;
    
}
.text-list p{
    font-size:0.5rem;
    
}