<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>活动中心</title>
    <link rel="stylesheet" href="/Public/Login/css/activity.css">
    <link rel="stylesheet" href="/Public/Login/css/font/iconfont.css">
</head>
<body>
                <div class="centre">
                    <a href="javascript:history.back(-1)"> 
                        <i class="iconfont icon-xiaoyu">返回</i>
                    </a>
                    <p>活动中心</p>
                </div>
                <div class="headline">VIP会员来袭</div>
                <div class="text-list">
                    <div class="cool"> ▶ </div>
                    <div class="cook">
                        <p> 
                        普通会员198，每天普通会员发圈做完任务赚取14元，一个任务7元，总的两个任务做完就是14元
                        </p>
                    </div>
                </div>
                <div class="text-list">
                    <div class="cool"> ▶ </div>
                    <div class="cook">
                        <p> 
                            VIP会员398，每天VIP会员发圈做完任务赚取30元，一个任务15元，总的两个任务做完就是30元
                        </p>
                    </div>
                </div>
                <div class="text-list">
                    <div class="cool"> ▶ </div>
                    <div class="cook">
                        <p> 黄金会员直推50人以上:三代到无限代发圈奖励2元</p>
                    </div>
                </div>
</body>
</html>