<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>修改登陆密码</title>
    <link rel="shortcut icon" href="favicon.ico"> <link href="/Public/Index/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="/Public/Index/css/font-awesome.min.css" rel="stylesheet">
    <link href="/Public/Index/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/Public/Index/css/animate.min.css" rel="stylesheet">
    <link href="/Public/Index/css/style.min.css" rel="stylesheet">

</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><a style="color:#00bb9c;margin-right:5px;" href="#">修改我的登陆密码</a></h5>
                        <div class="ibox-tools">
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form method="post" action="" class="form-horizontal" id="form-admin-add" enctype="multipart/form-data">
                                
                                    <div class="form-group">
                                        <label class="col-sm-5 control-label">登 录 ID</label>
                                        <div class="col-sm-3">
                                        <input type="text" value="{$user.email}" class="form-control" disabled>
                                        </div>
                          </div>

                                 <div class="form-group">
                                <label class="col-sm-5 control-label">手机号码</label>
                                    <div class="col-sm-3">
                                        <input type="text"  value="{$user.mobile}" class="form-control" disabled>
                                    </div>
                                 </div>

                                 <div class="form-group">
                                <label class="col-sm-5 control-label">真实姓名</label>
                                    <div class="col-sm-3">
                                        <input type="text" value="{$user.username}" class="form-control" disabled>
                                    </div>
                                 </div>
                                
                                <div class="form-group">
                                <label class="col-sm-5 control-label">原登陆密码</label>
                                    <div class="col-sm-3">
                                        <input type="password" name="password" id="password" class="form-control" placeholder="请输入原登录密码">
                                    </div>
                          </div>

                                 <div class="form-group">
                                <label class="col-sm-5 control-label">新登陆密码</label>
                                    <div class="col-sm-3">
                                        <input type="password" name="xpassword" id="xpassword" class="form-control"
                                        placeholder="请输入新密码">
                                    </div>
                                 </div>

                                 <div class="form-group">
                                <label class="col-sm-5 control-label">确认新登陆密码</label>
                                    <div class="col-sm-3">
                                        <input type="password" name="xxpassword" id="xxpassword"
                                        class="form-control" placeholder="请确认新密码">
                                    </div>
                                 </div>
                                
                                <div class="form-group">
                                <label class="col-sm-5 control-label">原二级密码</label>
                                    <div class="col-sm-3">
                                        <input type="password" name="erpassword" id="erpassword" class="form-control" placeholder="请输入原二级密码">
                                    </div>
                          </div>

                                 <div class="form-group">
                                <label class="col-sm-5 control-label">新二级密码</label>
                                    <div class="col-sm-3">
                                        <input type="password" name="xerpassword" id="xerpassword" class="form-control" placeholder="请输入新二级密码">
                                    </div>
                                 </div>

                                 <div class="form-group">
                                <label class="col-sm-5 control-label">确认新二级密码</label>
                                    <div class="col-sm-3">
                                        <input type="password" name="xxerpassword" id="xxerpassword" class="form-control" placeholder="请确认新二级密码">
                                    </div>
                                 </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-2" style="text-align: center;">
                                    <input class="btn btn-primary" type="submit" value="修改登陆密码">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/Public/Default/js/jquery.min.js?v=2.1.4"></script>
    <script src="/Public/Default/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/Public/Default/js/content.min.js?v=1.0.0"></script>
    <script src="/Public/Default/js/plugins/iCheck/icheck.min.js"></script>

<script type="text/javascript" src="/Public/Default/check/js/jquery.validate.min.js"></script> 

<script type="text/javascript" src="/Public/Default/check/js/messages_zh.min.js"></script> 



<script type="text/javascript" src="/Public/Default/check/js/validate-methods.js"></script> 



   
    <script>
        $(document).ready(function(){$(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",})});
    </script>
    
    <script type="text/javascript">
	$(function(){
	$("#form-admin-add").validate({
		rules:{
			uUser:{
				required:true,
                minlength:2,
                maxlength:20
			},
            uName:{
                required:true,
                minlength:2,
                maxlength:8

            },
            uoPwd:{
                required:true,
                minlength:6,
                maxlength:16

            },
            uPwd:{
                required:true,
                minlength:6,
                maxlength:16

            },
            uPwd2:{
                required:true,
                equalTo: "#uPwd"
            },
            uZfPwd:{
                required:true,
                minlength:6,
                maxlength:6

            },

		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit();
			var index = parent.layer.getFrameIndex(window.name);
			parent.$('.btn-refresh').click();
			parent.layer.close(index);
		}
	});
});
</script> 
    
    
</body>

</html>