<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>我的待激活报单会员</title>

    <link rel="shortcut icon" href="favicon.ico"> <link href="/Public/Index/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="/Public/Index/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">

    <!-- Data Tables -->
    <link href="/Public/Index/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">

    <link href="/Public/Index/css/animate.min.css" rel="stylesheet">
    <link href="/Public/Index/css/style.min.css?v=4.1.0" rel="stylesheet">

</head>
<style>
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
   text-align: center;
}
</style>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><a style="color:#00bb9c;margin-right:5px;" >我的待激活报单会员</a></h5>
                        <div class="ibox-tools">
                            
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    
                                    <th>ID</th>
                                    <th><span class="dropdown hidden-xs">会员姓名</th>
                                    <th>姓别</th>
                                    <th class="dropdown hidden-xs">手机号码</th>
                                    <th class="dropdown hidden-xs">账号</th>
                                    <th class="dropdown hidden-xs">注册时间</th>
                                    <th class="dropdown hidden-xs">操作</th>
                                </tr>
                            </thead>
                            <tbody>
							<volist name="list" id="vo">
                            <tr class="gradeX" id="a{$vo.id}">
									<td class="dropdown hidden-xs">{$vo.id}</td>
									<td class="dropdown hidden-xs">{$vo.username}</td>
                                    <td class="dropdown hidden-xs">{$vo.gender}</td>
                                    <td class="dropdown hidden-xs">{$vo.mobile}</td>
									<td class="dropdown hidden-xs">{$vo.email}</td>
									<td class="dropdown hidden-xs">{$vo.addtime}</td>
                                    <td><button type="button" class="btn btn-primary" onclick="cative_user({$vo.id})" style="cursor:pointer;">激活</button>
                                    <button type="button" class="btn btn-primary" onclick="del_user({$vo.id})" style="cursor:pointer;">删除</button></td>
                                </tr>  
							</volist>								
                            </tbody>
                            
                        </table>

                    </div>
                </div>
            </div>
			
			
			{$page}
        </div>
    </div>
    <script src="/Public/Default/js/jquery.min.js?v=2.1.4"></script>
    <script src="/Public/Default/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/Public/Default/js/plugins/jeditable/jquery.jeditable.js"></script>
    <script src="/Public/Default/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="/Public/Default/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script src="/Public/Default/js/content.min.js?v=1.0.0"></script>
    <script src="/Public/Index/css/js/jquery-1.8.2.min.js"></script>
    <script>
        $(document).ready(function(){$(".dataTables-example").dataTable();var oTable=$("#editable").dataTable();oTable.$("td").editable("../example_ajax.php",{"callback":function(sValue,y){var aPos=oTable.fnGetPosition(this);oTable.fnUpdate(sValue,aPos[0],aPos[1])},"submitdata":function(value,settings){return{"row_id":this.parentNode.getAttribute("id"),"column":oTable.fnGetPosition(this)[2]}},"width":"90%","height":"100%"})});function fnClickAddRow(){$("#editable").dataTable().fnAddData(["Custom row","New row","New row","New row","New row"])};


        function cative_user(id){
            var r=confirm("你确定要激活吗?");
            if (r==true) {
            var s='a'+id;
            $.ajax({
                url:"{:U('Home/Member/user_activate')}",
                type:'post',
                data:{'id':id},
                dataType:'json',
                success:function(ret){
                    console.log(ret);
                    if(ret.status==1){
                        alert(ret.msg);
                        $("#"+s).hide();
                        //window.location.reload();
                    }else{
                        alert(ret.msg);
                    }
                },
                error:function(){
                    alert('网络错误，请重试！');
                }
            })
        }
    }
    function del_user(id){
            var r=confirm("你确定要删除吗?");
            if (r==true) {
            var s='a'+id;
            $.ajax({
                url:"{:U('Home/Member/del_user')}",
                type:'post',
                data:{'id':id},
                dataType:'json',
                success:function(ret){
                    console.log(ret);
                    if(ret.status==1){
                        alert(ret.msg);
                        $("#"+s).hide();
                        //window.location.reload();
                    }else{
                        alert(ret.msg);
                    }
                },
                error:function(){
                    alert('网络错误，请重试！');
                }
            })
        }
    }
    </script>

</body>

</html>