<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="renderer" content="webkit">
		<title></title>
		<link rel="stylesheet" href="__PUBLIC__/Admin/css/pintuer.css">
		<link rel="stylesheet" href="__PUBLIC__/Admin/css/admin.css">
		<script src="__PUBLIC__/Admin/js/jquery.js"></script>
		<script src="__PUBLIC__/Admin/js/pintuer.js"></script>
	</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head" id="add"><strong><span class="iconfont icon-tianjia"></span>增加</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="__SELF__">  
	
	<div class="form-group">
		<div class="label">
			<label>用户邮箱：</label>
		</div>
		<div class="field">
			<input type="text" class="input w50" value="" name="email" data-validate="required:请输入用户邮箱" />
			<div class="tips"></div>
		</div>
	</div>
	<div class="form-group">
		<div class="label">
			<label>提现方式：</label>
		</div>
		<div class="field">
			<input type="text" class="input w50" value="" name="mode" data-validate="required:请输入提现方式" />
			<div class="tips"></div>
		</div>
	</div>
	<div class="form-group">
		<div class="label">
			<label>提现帐号：</label>
		</div>
		<div class="field">
			<input type="text" class="input w50" value="" name="accounts" data-validate="required:请输入提现帐号" />
			<div class="tips"></div>
		</div>
	</div>
	<div class="form-group">
		<div class="label">
			<label>姓名：</label>
		</div>
		<div class="field">
			<input type="text" class="input w50" value="" name="name" data-validate="required:请输入姓名" />
			<div class="tips"></div>
		</div>
	</div>
	<div class="form-group">
		<div class="label">
			<label>金额：</label>
		</div>
		<div class="field">
			<input type="text" class="input w50" value="" name="money" data-validate="required:请输入金额" />
			<div class="tips"></div>
		</div>
	</div>
	<div class="form-group">
		<div class="label">
			<label>状态：</label>
		</div>
		<div class="field">
			<input type="text" class="input w50" value="" name="type" data-validate="required:请输入状态" />
			<div class="tips"></div>
		</div>
	</div>
	<div class="form-group">
		<div class="label">
			<label>留言：</label>
		</div>
		<div class="field">
			<input type="text" class="input w50" value="" name="info" data-validate="required:请输入留言" />
			<div class="tips"></div>
		</div>
	</div>
	<div class="form-group">
		<div class="label">
			<label>申请时间：</label>
		</div>
		<div class="field">
			<input type="text" class="input w50" value="" name="time" data-validate="required:请输入申请时间" />
			<div class="tips"></div>
		</div>
	</div>
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main iconfont icon-icon--" type="submit"> 确认添加</button>
        </div>
      </div>
    </form>
  </div>
</div>
</body></html>