<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>微转公告</title>
    <link rel="stylesheet" href="/Public/Login/css/college.css">
    <link rel="stylesheet" href="/Public/Login/css/font/iconfont.css">
</head>
<body>
    <div class="head">
        <a href="javascript:history.back(-1)"> 
            <i class="iconfont icon-xiaoyu">返回</i>
        </a>
        <p>公告</p>
    </div>
    <!-- <div class="ftr-text">
        <p>{$data.biaoti}</p>
    </div> -->
    <div class="text">
       <p>{$data.content}</p> 
    </div>
    <div class="img" style="margin:3rem auto 0;">
        <img src="/{$data.g_img}" alt="">
    </div>
</body>
</html>