<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>产品秀</title>
    <link rel="stylesheet" href="/Public/Login/css/prod.css">
  <link rel="stylesheet" href="/Public/Login/css/font/iconfont.css">

   <link rel="shortcut icon" href="/Public/Login/img/bitbug_favicon.ico" /> 
	<script src="__PUBLIC__/Admin/js/jquery.js"></script>
	<!--layer弹窗插件-->
	<link rel="stylesheet" href="/Public/Login/layui/css/layui.css"/>
	<script src="/Public/Login/layui/layui.js"></script>
</head>
<body>
     
        <div class="head">
            <a href="javascript:history.back(-1)"> 
                <i class="iconfont icon-xiaoyu">返回</i>
            </a>
            <p>产品秀</p>
         </div>
         <div class="kai">
             等待开发中...
         </div>
         <div class="img">
          
             <img src="/Public/Login/img/kaifa1.png" alt="">

         </div>
</body>
</html>